.movies .movie {
  width: 45%;
  background-color: white;
  margin-bottom: 70px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.movie img {
  position: absolute;
  max-width: 120px;
  max-height: 200px;
  margin-right: 30px;
  margin-left: 20px;
  top: -40px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.movie h3,
.movie h5 {
  font-weight: 300;
}

.movie h5,
.movie .movie__year,
.movie .movie__genres,
.movie__summary {
  opacity: 0.6;
}

.movie .movie__genres {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.movie__genres li {
  padding-right: 10px;
}

.movie .movie__summary {
  padding-right: 10px;
}
